.container {
  position: relative;
}

.dropdownIcon {
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: var(--mantine-shadow-lg);
  border: 1px solid var(--border-color);

  &:hover {
    transform: scale(1.1);
  }
}

.burger {
  position: absolute;
  right: 0;
  display: flex;
  align-content: center;
}
