.post {
  text-decoration: none;
  color: inherit;
}

.postContent {
  flex: 1;
}

.avatars {
  position: relative;
}

.avatars div {
  position: absolute;
  border-radius: 100px;
}

.avatars image {
  border-radius: 100px;
}

.box {
  border-radius: 1.5rem;
  overflow: hidden;
  border: 1px solid var(--border-color);
}

.line {
  flex: 1;
}
