.content {
  flex: 1;
}

.content textarea {
  border: none;
  font: inherit;
  padding-left: 0;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-9)
  );
}

.reply {
  align-self: flex-end;
}
